<h1>Genres</h1>
<a href="/genres/form">Create a new Genre</a>
{{#each genres}}
<li>
  {{this.name}} <!-- Display genre name instead of array index -->
  <a href="/genres/edit?id={{this.id}}">edit</a> <!-- Pass genre id instead of array index -->
</li>
{{/each}}