<h1>${book.title}</h1>

${authors && authors.length > 0 ? `
  <p><strong>Author(s):</strong><br>
    ${authors.map(author => `${author.firstName} ${author.lastName}`).join('<br>')}
  </p>
` : ''}

<p><strong>Genre:</strong> ${genre.genre}</p>
<p><strong>Publishing Year:</strong> ${book.publishingYear}</p>

<!-- Display comments -->
<h2>Comments</h2>
<ul>
  ${comments.map(comment => `<li><strong>${comment.userEmail}:</strong> ${comment.text}</li>`).join('')}
</ul>

<!-- Add comment form -->
${currentUser ? `
  <form action="/books/add-comment" method="POST">
    <input type="hidden" name="bookId" value="${book.id}">
    <textarea name="commentText" rows="4" cols="50" placeholder="Type your comment here"></textarea><br>
    <button type="submit">Submit</button>
  </form>
` : ''}


